@import "../../shared/styles/mixins/breakpoints";

.main {
    display: grid;
    grid-template-columns: max-content 1fr repeat(4, max-content);
    align-items: center;
    border-bottom: 2px solid #dbeafe;
    gap: 1rem;
    padding: 0.5rem 0 1rem 0;
    margin: 0 0.5rem;
}

.links_container {
    @include up656 {
        display: flex;
    }
    display: none;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.up656 {
    @include up656 {
        display: none;
    }
}

.git {
    transition: all linear 0.3s;
    cursor: pointer;
    &:hover {
        color: #4b5563;
    }
}

.active_link {
    cursor: unset;
    text-align: center;
}

.link {
    text-align: center;
    color: #9ca3af;
    &:hover {
        color: #6b7280;
    }
}
